**/.DS_Store
*-debug.log
*-error.log
/.idea
/.nyc_output
/dist
/lib
/package-lock.json
/tmp
/yarn.lock
node_modules
oclif.lock
oclif.manifest.json
notes*.txt
yarn.lock
/.github
/.sfdx

// Felix temporarily
.eslintignore
.eslintrc.json
.prettierrc.json
.vscode/
data/Waiting.flow-meta.xml
documentation/
emnall.ps1
mochaall.ps1
temp
