**/.DS_Store
*-debug.log
*-error.log
/.idea
/.nyc_output
/dist
/lib
/package-lock.json
/tmp
data/Waiting.flow-meta.xml
documentation/
node_modules
oclif.lock
oclif.manifest.json
result/
tsconfig.tsbuildinfo
yarn.lock
/.github
/.sfdx
.eslintcache
.eslintrc.json
.prettierrc.json
.vscode/
.wireit
*.ps1
